@import './../../paint/color';

.left-column {
    pointer-events: none;
    .quote-board {
        .bq {
            .icon {
                top: -30px;
                left: 20px;
            }
        }
        .footer-block {
            overflow: hidden;
            min-height: 35px;
            .detail {
                min-height: 35px;
                overflow: hidden;
                transition: .1s;
                position: absolute;
                top: 200px;
                gap: 30px;
                left: 0;
                overflow: hidden;
                .role {
                    transform: translateY(200px);
                    transition-delay: .1s;
                    transition: .3s;
                    &.active {
                        transform: translate(0px);
                    }
                }
                .name {
                    transform: translateY(-200px);
                    transition: .2s;
                    &.active {
                        transform: translate(0px);
                    }
                }
                &.active {
                    top: 0;
                }
                @media screen and (max-width: 600px) {
                    .role {
                        font-size: 15px;
                    }
                    .name {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .left-column {
        margin-left: 10px;
    }
}